*{
    margin: 0 ;
    padding: 0%;
}

body{
    background-color: #3bc9db ;
}

/* Top-BOX */

#Hero{
    background-image: url(Profile.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    opacity: 0.9;
    border-radius: 10px;
    /* margin-bottom: 50px; */
}

#Hero-font-1{
    font-size: 4rem;
    font-family: 'Roboto' , sans-serif;
    color: white;
    padding: 20px;
    font-weight: 500;
}

#Hero-font-2{
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    color: white;
    margin-bottom: 30px;

}

.Button{
    padding: 5px;
    border:1px solid black;
    border-radius: 7px;
    color: white;
    background-color: red;
    text-decoration: none;
    font-family: sans-serif ;
    font-weight: 100;
}

.Button:hover{
    color: black;
    background-color: #e03131;
    font-weight: bold;
}

.Button:active{
    color: white;
    background-color: #ff6b6b;
}


/* #Spcaing-1{ 
    background-color:#ced4da;
}*/

/* COntent */

.Content-Heading{
    font-size: 4rem;
    font-family: 'ROBOTO' , sans-serif;
    font-weight: 200;
    background-color: #3bc9db;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:#fff;
}

#Main-Content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 100px ;
    grid-template-rows: 1fr ;

  

    column-gap: 5px;
    row-gap: 5px
    ;
    background-color: #3bc9db;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 20px ;
 
}

#Model5{
    width: 100%;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: stretch;

  
  
}
.Side{
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: #a5d8ff;
    border-radius: 10px;
   
}

#About-us{
    font-size: 12px;
    
  
}
.Photo-Model{
    width: 100%;
}

.Model2{
    width: 100%;
    border-radius: 10px;
}

.Sub-text{
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto' ,sans-serif;
    font-weight: 100;
}

#Face-book{
    width: 50%;
}
.Face-bookbutton{
    text-align: center;
 

  
}
.Face-bookbutton1{
    color: #fff;
    padding: 2px;
    border: 1px solid rgb(255, 0, 0);
    text-decoration: none;
    background-color: red;
    border-radius: 10px;

}
.Face-bookbutton1:hover{
    color: black;
    background-color: #e03131;
    font-weight: bold;
   
}
.Face-bookbutton1:active{
    color: white;
    background-color: #ff6b6b;
  
}
#Button-font{
    font-size: 12px;
    font-family: 'Roboto' sans-serif;
    font-weight: 100;
    
}


#Table-box{
    background-color: #3bc9db;
    font-size: 1rem;
    font-family: 'ROBOTO' sans-serif;

}

#HeadingTable{
    font-size: 3rem;
    font-family: 'ROBOTO' , sans-serif;
    font-weight: 200;
    color: #fff;
}


table , th ,td {
    margin: 0 auto;
    border: 1px solid #070707;
    border-collapse: collapse;
    width: 90%;
    padding: 5px;
    background-color: #a5d8ff;
   font-size: 1rem;
   font-family: 'Roboto' sans-serif;
   font-weight: 400;

}


footer{
    text-align: right;
    background-color: #3bc9db ;
}


/* Services 

#Services-navigation{
    text-align: right;
    margin-bottom: 20px;
}

.Photo{
    width: 100%;
    border-radius: 5px;
}

#Services-Main{
    display: flex;
    gap: 10px ;
    align-items: center;
    margin-bottom: 40px;
}

.Services-Main-Font{
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    text-align: center;
}

*/

/* footer

footer{
    text-align: right;
}
 */

/* Products.html 

.Top-navigation{
    margin-top: 10px;
    margin-bottom: 50px;
}

.Main-Product{
    max-width: 500px;
    margin: auto;
  
}

.Box{
  
    display: flex;
    gap: 5px;
    justify-self: center;
    text-align: center;
    margin-bottom: 20px;

    
    
}

.Item{
    border: 1px solid black;
    
}

.Photo-item{
    width: 100%;
    border-radius: 5px;
    
}
.Products-font{
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif ;
    font-weight: 300;
}
*/

/* Services offer 

#Services-offer-Main-box{


    display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 1fr 140px;
  gap: 5px;
   align-items: center;
  background-color: #f8f9fa;
}

.Services-offer-head{
   grid-column: 2/4;
   text-align: center;
   font-size: 1rem;
   font-family: 'Roboto' , sans-serif;
   font-weight: 500;
  
}

#Service-offer-Model{
   width: 100%;
   grid-column: 2 /4;
   border-radius: 20px;
 
 
}

.Header-service{
    font-size:10px;
    font-family: 'Roboto' , sans-serif;
      
    border: 1px solid #e03131;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;

   
  
   
}

ul{
    list-style: none;
}

.Logocompany{
    width: 100%;
    border-radius: 2px;
}
*/



/* =============================== */
/* ================================== */
/* Products.html */
/* ================================== */
/* =================================== */


.Top-navigation{
    padding: 10px;
    text-align: right;
}

.Item-Photo{
    width: 80%;
}

.ItemsContainer{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #a5d8ff;
}

.Item-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;

 

}


